<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/common.css"/>
    <style>
        body{
            background: black;
        }
        .container{
            width: 100vw;
            height: 100vh;
            background-color: #15151D;
        }
        .main{
            padding: 20px 30px;
            overflow: hidden;
        }
        .pagetitle{
            margin: 20px;
            color: white;
        }
        .select{
            display: flex;
            justify-content: space-between;
            padding: 20px 30px;
            background-color: #1B1c21;
            border-radius: 24px;
        }
        .select select{
            padding:0 20px;
            width:350px;
            height:40px;
            color: grey;
            background-color: white;
            border-radius: 12px;
            border:0;
            outline: none;
        }
        .select .search{
            display: flex;
            width:720px;
            height:40px;
            border-radius: 12px;
            overflow: hidden;
            margin-left: 18px;
        }
        .select form{
            display: flex;
            justify-content: center;
        }
        .select form > div{
            margin: 0;
        }
        .select .search input{
            flex: 1;
            padding: 0px 10px;
        }
        .select .search .search-btn{
            display: flex;
            justify-content: space-between;
            align-content: center;
            width:45px;
            height:40px;
            background-color: darkorange;
        }
        .select .search .search-btn img{
            width: 30px;
            height: 30px;
            margin-left: 6px;
            margin-top: 4px;
        }
        .select .add-btn{
            width: 70px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: white;
            background-color: darkorange;
            border-radius: 12px;
        }
        .content{
            margin-top: 30px;
            background: #1B1c21;
            border-radius: 24px;
        }
        .table{
            width: 100%;
            color: white;
            text-align: center;
        }
        .table thead tr{
            height: 64px;
        }
        .table th{
            text-align: center;
        }
        .table tbody tr td{
            line-height: 48px;
        }
        .dialog{
            position: fixed;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            width:100vw;
            height: 100vh;
            background-color: #000000;
            opacity: .5;

        }
        .dialog-wrap{
            position: absolute;
            left: 50%;
            top:50%;
            z-index: 999;
            padding: 20px;
            width: 460px;
            margin-left: -120px;
            background: white;
            border-radius: 24px;
            transform:translate(-50%,-50%);
        }
        .dialog-header{
            position: relative;
        }
        .dialog-header > div{
            position: absolute;
            right:0;
            top: 0;
        }
        form > div{
            margin:20px 0;
        }
        .dialog-footer{
            text-align: right;
            margin-top: 10px;
        }
        .dialog-footer button, .dialog-footer span,.dialog-footer input[type='submit']{
            padding: 6px 10px;
            color: white;
            background: darkorange;
            cursor:pointer;
        }
        .isDialog{
            display: none;
        }
        .isDelete{
            display: none;
        }
        .close{
            cursor: pointer;
            /*添加悬浮手指*/
        }
        .page{
            width: 100%;
            padding: 20px;
            color: white;
            border-top: 1px solid grey;
            background-color: #1B1c21;
        }
        .page ul li{
            margin-right: 10px;
        }
        .delete-item,.update{
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="main">
        <div class="pagetitle">
          <h3>Ruin List</h3>
        </div>
        <div class="select">
            <form action="/searchRuin" method="get" id="myform">
                <select onChange="submitForm()" name="selectVal">
                    <% ruininfo.forEach(function(item){ %>
                        <option value="<%= item.name %>"><%= item.name %></option>
                    <% }) %>
                </select>
                <div class="search">
                    <input type="text" name="search">
                    <button class="search-btn"><img src="/images/113.png" alt=""></button>
                </div>
            </form>
            <button class="add-btn" id="addBtn">Add</button>
        </div>
    </div>
    <div class="content">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>location</th>
                <th>integrity</th>
                <th>level</th>
                <th>Uploaded by</th>
            </tr>
            </thead>
            <tbody>
            <% ruininfo.forEach(function(item){ %>
                <tr>
                    <td><%= item.ID %></td>
                    <td><%= item.name %></td>
                    <td><%= item.location %></td>
                    <td><%= item.integrity %></td>
                    <td><%= item.level %></td>
                    <td><%= item.admin %></td>
                    <!--引用数据库的ruin数据，渲染到ruininfo-->
                    <td>
                        <span class="delete-item" data-id="<%= item.ID %>">Delete</span>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <!--                banner信息表格部分 CSS样式-->
        <div class="page">
            <ul class="pagination">
                <% var prevNum=10; var nextNum=10;%>
                <!--                        显示页码上限为10-->
                <% if(pager.pageCurrent==1){%>
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <% }else{ %>
                    <li class="page-item"><a class="page-link" href="/ruininfo?page=<%= parseInt(pager.pageCurrent)-1 %>">Previous</a></li>
                <% } %>
                <!--                            判断并显示上一页 -->
                <% for(var i=prevNum; i>0; i--) { %>
                    <% if( parseInt(pager.pageCurrent)-i > 0){%>
                        <li><a class="page-link" href="/ruininfo?page=<%= parseInt(pager.pageCurrent)-i %>"><%= parseInt(pager.pageCurrent)-i %></a></li>
                <% }}%>
                <!--                        显示所有之前的页码-->

                <li class="active"><a class="page-link" href="/ruininfo?page=<%= pager.pageCurrent%>"><%= pager.pageCurrent %></a></li>
                <% for(var i=1;i<nextNum;i++){ %>
                    <% if(parseInt( pager.pageCurrent )+i <= pager.pageCount ){%>
                        <li><a class="page-link" href="/ruininfo?page=<%= parseInt( pager.pageCurrent )+i%>"><%= parseInt( pager.pageCurrent )+i %></a></li>
                <% }} %>
                <!--                        如果当前页码加1小于等于总页数，则从当前页面开始显示页码-->
                <% if (pager.pageCurrent == pager.pageCount){ %>
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                <% }else{ %>
                    <li class="page-item"><a class="page-link" href="/ruininfo?page=<%= parseInt( pager.pageCurrent )+1 %>">Next</a></li>
                <% } %>
                <!--                        判断并显示下一页-->
            </ul>
            <li class="page-item disabled">Total <%= pager.maxNum%> Data</li>
            <li class="page-item disabled">Total <%= pager.pageCount%> Page</li>
        </div>
        <!--                页码部分-->
    </div>
</div>
</div>


<div class="dialog isDialog"></div>
<div class="dialog-wrap isDialog">
    <div class="dialog-header">
        <h3>Add Ruin</h3>
        <div class="close">
            <p>Close</p>
        </div>
        <form action="/addRuin" enctype="multipart/form-data" method="post">
            <div>
                <p>Name</p>
                <p><input type="text" class="form-control" name="ruinName"/> </p>
            </div>
            <div>
                <p>location</p>
                <p><input type="text" class="form-control" name="location"/> </p>
            </div>
            <div>
                <p>integrity</p>
                <p><input type="number" class="form-control" name="integrity"/> </p>
            </div>
            <div>
                <p>level</p>
                <p><input type="number" class="form-control" name="level"/> </p>
            </div>
            <div class="dialog-footer">
                <span class="cancel">Cancel</span>
                <button class="determine">OK</button>
            </div>
        </form>
    </div>
</div>
<!--    以上为“添加”按钮的弹窗布局-->

<div class="dialog isDelete"></div>
<div class="dialog-wrap isDelete">
    <div class="dialog-header">
        <p>Are you sure you want to delete?</p>
        <div class="dialog-footer">
            <span class="cancel">Cancel</span>
            <button class="determine determineDel">OK</button>
        </div>
    </div>
</div>
<!--    以上为“删除”按钮的弹窗布局-->

<script src="/javascripts/jquery.js"></script>
<script>
    //触发提交form表单进行select搜索
    function submitForm(){
        var form = document.getElementById('myform');
        form.submit();
    }
    $(function (){
        var id ='';
        var updateHtml = '';
        //显示添加表单
        $('#addBtn').click(function(){
            $('.isDialog').show();
        })
        //隐藏添加表单
        $('.close,.cancel').click(function(){
            $('.isDialog').hide();
        })
        //显示删除表单
        $('.delete-item').click(function(){
            id = $(this).data('id');
            $('.isDelete').show();
        })
        $('.close,.cancel').click(function(){
            $('.isDelete').hide();
        })
        //确定删除
        $('.determineDel').click(function (){
            window.location.href = `/delRuin?id=${id}`;
        })

    })
</script>


</body>
</html>